{% extends 'base.html' %}
{% block title %}Transactions{% endblock %}

{% block content %}

<div id="transaction-form">
<h1>Transactions Page</h1>
<p class="lead">Your Transactions</p>
<form method="GET">
<table>
    <thead>
        <th>Date</th>
        <th id="co-name">Type</th>
        <th id="co-name">Stock</th>
        <th>Transacted Shares</th>
        <th>Transacted Price/Share</th>
        <th>Fees</th>
        <th>Stock Split</th>
    </thead>
    <tbody>
    {% for transaction in all_transactions %}
    <tr>
        <td>{{transaction["timestamp"].strftime('%Y-%m-%d')}}</td>
        <td>{{transaction["transaction_type"]}}</td>
        <td><a href="/">{{transaction["stock_ticker"]}}</a></td>
        <td>{{transaction["transacted_shares"]}}</td>
        <td>{{transaction["transacted_price_per_share"]}}</td>
        <td>{{transaction["transaction_fees"]}}</td>
        <td>{{transaction["stock_split_ratio"]}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    
    
</form>

</div>
{% endblock %}